<h1> The Gallery </h1>
  <section class="row">
    <div class="art col-lg-12">
      <% arts.forEach(function(art) { %>
        <div class="art col-lg-3">
          <img src="<%= art.flickrURL %>">
        </div>
        <div class="card">
          <p><%= art.twitUser %></p>
          <p><%= art.query %>, 2016</p>
          <p> The Artr </p>
          <p><%= art.tweetStatement %></p>
        </div>
        <hr>
  <!--       <button class="addFav">Favorite </button>-->
      <% }); %>
    </div>
  </section>
