<div class="paddington">

  <div class="container">
    <div class="row col-md-12 col-lg-12 col-sm-12">
      <h1>The Artr</h1>
    </div>
  </div>

  <div class="container">
    <form method="GET" action="/art" role ="form">
      <div class="row col-md-12">
        <div class="border">
          <div class="font-size">
            <h4> Create avant-garde social media art by searching Twitter and Flickr to pair images and tweets based on a single query!</h4>
          </div>
        </div>


        <div id="custom-search-input form-group">
          <div class="input-group">
            <input type="text" class="search-query form-control input-lg" placeholder="search here" name="q"/>
            <span class="input-group-btn">
              <button class="btn searchcolor btn-lg" type="button">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </form>

  <!--   <div class="font-size">
      <h3>Check out the gallery link for more sweet art like this! </h3>
    </div>

      <div style="center">
        <img src="../assets/expic.png">
        <img src="../assets/extweet.png">
      </div> -->

    </div>
  </div>
</div>