<div class="container">
  <form method="GET" action="/art" role ="form">
    <div class="row col-md-12">
      <div id="custom-search-input form-group">
        <div class="input-group">
          <input type="text" class="search-query form-control" placeholder="search here" name="q"/>
          <span class="input-group-btn">
            <button class="btn btn-info" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </form>

  <p></p>
  <p></p>

<h3> Create avant-garde social media art by searching Twitter and Flickr to pair images and tweets based on a single query!</h3>

<h3>Suggested searches: man (NSFW), tree, lemonade.</h3>


</div>