<!DOCTYPE html>
<html>
<head>
  <title>The Artr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="jquery.simplyscroll.css" media="all" 
  type="text/css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div id="border">
    <a href="/">
      <h1 class="inline">
        The Artr
      </h1>
    </a>
    <h3 class="inline">
      the flickr & twitter art gallery
    </h3>
  </div>
   <div class="container-fluid inline header">
    <ul>
      <li><a href="/auth/signup"><h4>Sign Up</h4></a></li>
      <li><a href="/auth/login"><h4>Log In</h4></a></li>
      <li><a href="/user"><h4>Profile</h4></a></li>
      <li><a href="/gallery"><h4>Gallery</h4></a></li>
      <li><a href="/auth/logout"><h4>Logout</h4></a></li>
    </ul>
  </div>
</nav> 
  <div class="trans col-md-offset-2 col-md-8 col-md-offset-2">
<!--   <p>Hello, <%= currentUser.username %></p>
 -->    <%- body%>
  </div>

  <script src="/js/script.js"></script>
  <script type="text/javascript" 
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js">
  </script>
  <script type="text/javascript" src="jquery.simplyscroll.js"></script>


</body>
</html>