<!DOCTYPE html>
<html>
<head>
  <title>The Artr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- very basic navbar -->
<% include nav%>
<div class="behind col-md-offset-2 col-md-8 col-md-offset-2">
  <div>
<!--    someday these will work -->   
      <% if (typeof alerts !== 'undefined') { %>
        <% for (key in alerts) { %>
          <% alerts[key].forEach(function(thisMsg) { %>
            <div class="alert alert-<%= key %>"><%= thisMsg %></div>
          <% }); %>
        <% } %>
      <% } %>
    </div>
  <%- body%>
</div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
   <script src="/js/script.js"></script>
</body>
</html>