<nav>
  <div class="navbar">
    <a href="/user">My Collection</a>
    <a href="/gallery">Gallery</a>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
    <div class="small-logo-container">
      <h1 class="small-logo">The Artr</h1>
    </div>
  </div>
  <div class="content">
    <h1 class="big-logo">The Artr</h1>
  </div>
     <div>
    <!-- greeting-->  
     <% if (currentUser) { %>
       <p>Hello, <%= currentUser.username %>!</p>
      <% } else {%>
        <p>Hello, new artist!</p>
      <% } %>
    </div>
</nav>
