<nav class="navbar navbar-default" role="navigation">
  <div class="col-xs-12">
    <div id="border">
      <a href="/">
        <h1 class="inline">
          The Artr
        </h1>
      </a>
      <h3 class="inline">
        the flickr & twitter art gallery
      </h3>
    </div>
     <div class="container-fluid inline header">
      <ul>
        <li><a href="/user"><h3>My Collection</h3></a></li>
        <li><a href="/gallery"><h3>Gallery</h3></a></li>

     <% if (!currentUser) { %>
        <li><a href="/auth/signup"><h3>Sign Up</h3></a></li>
        <li><a href="/auth/login"><h3>Log In</h3></a></li>
      <% } else {%>
        <li><a href="/auth/logout"><h3>Logout</h3></a></li>    
      <% } %>    
      </ul>
    </div>
    <hr>
    <div>
    <!-- greeting-->  
     <% if (currentUser) { %>
       <p>Hello, <%= currentUser.username %>!</p>
      <% } else {%>
        <p>Hello, new artist!</p>
      <% } %>
    </div>
  </div>
</nav> 
