<nav class="navbar navbar-default" role="navigation">
  <div id="border">
    <a href="/">
      <h1 class="inline">
        The Artr
      </h1>
    </a>
    <h3 class="inline">
      the flickr & twitter art gallery
    </h3>
  </div>
   <div class="container-fluid inline header">
    <ul>
      <li><a href="/auth/signup"><h4>Sign Up</h4></a></li>
      <li><a href="/auth/login"><h4>Log In</h4></a></li>
      <li><a href="/user"><h4>Profile</h4></a></li>
      <li><a href="/gallery"><h4>Gallery</h4></a></li>
      <li><a href="/auth/logout"><h4>Logout</h4></a></li>
    </ul>
  </div>

  <div>
  <!-- greeting-->  
   <% if (currentUser) { %>
     <p>Hello, <%= currentUser.username %>!</p>
    <% } else {%>
      <p>You're not logged in, traveller!</p>
    <% } %>
  </div>
</nav> 
