<h1> Your Art </h1>

<div style="position: relative; left:0; top: 0" />
  <img src="../assets/frame1.jpg" style="position: relative: top 0; left: 0" />
  <img src="../assets/placeholder.jpeg" style="position: absolute; top:197px; left: 165px;"/>
</div>
<div>
  <ul> 
    <li>
      <span class ="bold">
        Username
      </span>
    </li>
    <li>
      <span class="italic">
        Search Query
      </span>, 2016
    </li>
    <li>
      <span class="italic">
        the artr
      </span>
    </li>
    <li>
      <span class="italic">
        The kitten loves string. 

        The kitten discovered my thong drawer.   
      </span>
    </li>
</div>
