<h1> Your Art </h1>


<img src="../assets/placeholder.jpeg">
<div>
  <ul> 
    <li>
      <span class ="bold">
        Username
      </span>
    </li>
    <li>
      <span class="italic">
        Search Query
      </span>, 2016
    </li>
    <li>
      <span class="italic">
        the artr
      </span>
    </li>
    <li>
      <span class="italic">
        The kitten loves string. 

        The kitten discovered my thong drawer.   
      </span>
    </li>
</div>