<h1> Your Collection </h1>
  <% if(arts.length === 0) { %>
  <p> Nothing lives here... yet. Go to the front page and make some art!</p>
<% } %> 


  <% arts.forEach(function(art) { %>
    <div class="pics col-xs-4">
      <img src="<%= art.flickrURL %>">
    </div>
    <div class="card">
      <p><%= art.twitUser %></p>
      <p><%= art.query %>, 2016</p>
      <p>The Artr</p>
      <p><%= art.tweetStatement %></p>
      <button type="button" class="delete btn btn-danger">Delete</button>
    </div>
    <hr>
<!--      <button class="delete">Delete</button>
 -->  <% }); %>
  
