div {
  background-color: white;
  border: solid .5px black;
}

h1, h2 {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

body {
  background-image: url('../assets/wall4.jpeg');
  background-color: white;
  background-size: cover;
  color: black;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;  
}

input {
  color: black;
}

p {
  padding: 5px;
  font-size: 18px;
}

button {
  background-color: black;
  color: white;
}

.padding{
  padding-left: 20px;
  padding-top: 10px;

}

.form-group {
  align: center;
}

a {
  color: black;
}

nav {
  width: 80%;
  margin-left: 10%;
}

.inline {
  text-align: center;
}

.trans {
  z-index: 1;
  /* These three lines are for transparency in all browsers. */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .9;
}

.bold {
  text-decoration-style: bold;
}

.italic {
  text-decoration-style: italic;
}

ul {
  list-style-type: none;
}